<html>
<head>
  <title>Ponad horyzonty</title>
  <meta charset="UTF-8">
  <meta name="description" content="Personal page to share thoughts and experiences about programming">
  <meta name="author" content="Dominik Starzyk">
  <meta name="keywords" content="programowanie, hobby, programowanie gier, kreatywność">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../static/js/buttons.js"></script>

</head>

<body>
  {% block content %}
  <div class="mainContainer">
    <div class="photoContainer">
      <img src="{{ url_for('static', filename = 'img/myself') }}" alt="moja facjata">
        <div class="socialMContainer">
          <ul>
            <li>
              <a href="default.asp">
              <img src="{{ url_for('static', filename = 'img/github-8-64.png') }}" alt="git link">
              </a>
            </li>
            <li>
              <a href="default.asp">
              <img id ="img1" src="{{ url_for('static', filename = 'img/email-64.png') }}" alt="gmail link">
              </a>
            </li>
            <li>
              <a href="default.asp">
              <img src="{{ url_for('static', filename = 'img/linkedin-3-64.png') }}" alt="linkedin link">
              </a>
            </li>
          </ul>
        </div>
        <div  class = "textBoxContainer">
          <div class = "textframe">
          <h1>Cześć, nazywam się Dominik</h1>
          <p>Uczę programowania </p>
        </div>
        </div>
  </div>
    <div class="menuContainer">
      <blockquote><i>Morze jest w końcu, pod wieloma względami, tylko bardziej mokrą formą powietrza.</i>
        <footer> - T. Pratchett "Going Postal"</footer>
      </blockquote>
      <article class = "aboutme">
        <hr></hr>
        <p> Języki programowania otwierają nowe drogi - ćwiczą umysł wymuszając prezyzje myśli i rozwijają
          wyobraźnię. Im dalej w głąb abstrakcji kodu, tym więcej można stworzyć. To nowy wymiar narracji i jej odbioru. Podobnie jak z prozą tak i z kodem - aby dobrze pisać trzeba
          sprawnie posługiwać się językiem w którym chcemy sie wyrazić. Od paru lat zawodowo zajmuje się nauką programowania przechodząc przez pełne spectrum
          jego złożoności - od prostych języków wizualnych do popularnych obecnie języków obiektowych.
        </p>
        <hr></hr>
      </article>

      <ul>
        <li><a href="{{ url_for("render_article_page")}}">Artykuły</a></li>
        <li>Prototypy</li>
        <li>Projekty</li>
        <li>Gdzie mnie złapać</li>

      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
  <div class="footerContainer">
    <footer>
    </footer>
  </div>
{% endblock %}
</body>


</html>
